.container {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0;
}

.tabNavigation {
  width: 60%;
}

.tabContent {
  flex: 1;
  overflow: auto;
  width: 60%;
}