:root {
  --white: #ffffff;
  --black: #000000;
  --border: #e5e4e7;
  --secondarybg: #f5f5f5;
  --accent: #5c068c;

  font-family: Gelasio, Georgia, Times New Roman, serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  body {
    margin: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}