:root {
  --primary: #ffffff;
  --secondary: #000000;
  --border: #e5e4e7;
  --secondarybg: #eeeeee;
  --accent: #5c068c;
  --accent2: #9b63ba;

  font-family: "Times New Roman", serif;
  font-size: 16px;
  color: var(--secondary);
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Times New Roman", serif;
  color: var(--black);
  background-color: var(--white);
}